.header-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul {
  list-style: none;
}
.ProfileImage {
  border-radius: 50%;
}
.post_input {
  margin-left: 10px;
}
::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgba(16, 131, 31, 0.2);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(33, 31, 169, 0.3);
  border-radius: 10px;
}
.reels_main_div {
  display: flex;
  overflow: scroll;
  height: 100%;
}
.reel {
  margin: 2px;
  display: flex;
  flex-direction: row;
  width: 30%;
  height: fit-content;
}
Link {
  text-decoration: none;
  color: white !important;
}
.acitve_status{
  position: absolute !important;
  margin-left:-15px;
  margin-top:20px
}
